body{
  font-size: 12px;
  background-color: #E8E8E8;
  font-family: 'Open Sans';
  font-style :normal;
  color: #394344;
}

.content{
  margin:5px 10px;
}


select{
  -webkit-appearance: none;
  -moz-appearance: none;
}

.remove-pad{
  padding:0 !important;
}

label{
  font-size: 12px;
  margin-bottom:10px;
}


form{
  position: relative;
  display: block;
}


.class1{
  display: none;
}

.class2{
  display: block;
}

a:hover,a:focus{
  text-decoration: none;
}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: #00AEF6;
  }
.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 10px;
}

.first-hearder{
  padding-bottom:10px;
  font-weight: bold;
  padding-top:20px;
  font-size:36px;
}

.second-header{
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 20px;
  padding-top: 10px;

}

.button-type2{
  padding:0 12px;
  height: 45px;
  margin-top: 21px;
  width: 170px;
  float: right;
  background-color: #302F2F;
  color:#fff;
  border: none;
  font-size: 14px;
  border-radius: 5px
}

.button-type2{
      i{
        font-size: 24px;
        margin-right: 10px;
      }
      color:#fff;
      font-weight: bold;
    }

    .button-text > i{
      font-size: 13px;

    }

thead{
  background-color: #F9F9F9;
}


 .form-control-feedback i{
   font-size: 18px;
   margin-top: 10px;
 }

.actions > span > i{
  font-size: 20px;
  padding-right: 5px;
}

.block{
  position: relative;
}

.expand{
  position: absolute;
  right: 50px;
  top: 8px;
  span{
    i{
      padding:10px 12px;
      border-radius: 50%;
      background-color: #E8E8E8;
    }
  }
}


.add-ele,.delete-ele,.delete-upload{
  margin-top: 42px;
  span{
    i{
      margin-right: 55px;
      font-size: 20px;
      color:#A8A8A8;
    }
  }
}

.hide{
  display: none;
}

.application{
  padding: 15px 0;
}

input,button:disabled{
  background-color: #ccc;
}

.actions *{
  font-size:18px;
}

.open{
  background-color: #fff;
}

label{
  display: block;
  font-weight: normal;
}

td:not(:last-child){
  border-right:1px solid #E8E8E8;
  padding:2px 0;
}

td{
  border-top: 0 !important;
}

tbody::before{
  content: "";
  display: block;
  height: 5px;
}

.result-container{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.closeResult{
  display: inline-block;
  float:right;
  button{
    border:none;
    background-color: #fff;
    *{
      font-size: 18px;
    }
  }
}

.error-msg{
  color: #ff0000;
  font-style: italic;
}

.tab-content{
			display: none;
		}

		.tab-content.current{
			display: block;
		}


.open > a{
  background-color: #00AEF6 !important;
}

.result{
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%,-50%);
  background-color: #fff;
  border: 1px solid;
  max-width: 90%;
}

select button{
  width:25px !important;
  border: 1px solid;
}

@media only screen and (max-width: 990px) {
//    .active-vert-tab {right:-26px}

    #tab-container ul{
      right:-26px;
    }
}

@media only screen and (max-width: 767px) {

  .first-hearder{
    font-size:24px;
  }
}

.selected{
  background-color: none;
}


.sel-span{
  top:24px;
}

.select-style select:focus {
    outline: none;
}



/* put toggle bars on the left :: not using button */
#slide-nav .navbar-toggle {
    cursor: pointer;
    position: relative;
    line-height: 0;
    float: left;
    margin: 0;
    width: 30px;
    height: 40px;
    padding: 10px 0 0 0;
    border: 0;
    background: transparent;

}
/* icon bar prettyup - optional */
#slide-nav .navbar-toggle > .icon-bar {
    width: 100%;
    display: block;
    height: 3px;
    margin: 5px 0 0 0;
    background-color: #000;
}
#slide-nav .navbar-toggle.slide-active .icon-bar {
    background: orange
}
.navbar-header {
    position: relative
}
/* un fix the navbar when active so that all the menu items are accessible */
.navbar.navbar-fixed-top.slide-active {
    position: relative
}
/* screw writing importants and shit, just stick it in max width since these classes are not shared between sizes */
@media (max-width:767px) {
	#slide-nav .container {
	    margin: 0!important;
	    padding: 0!important;
      height:100%;
	}
	#slide-nav .navbar-header {
	    margin: 0 auto;
	    padding: 0 15px;
	}
	#slide-nav .navbar.slide-active {
	    position: absolute;
	    width: 80%;
	    top: -1px;
	    //z-index: 1000;
	}

  .mobile-menus{
    position: absolute;
    height:100px;
    width:30px;
    background-color: black;
  }


	#slide-nav #slidemenu .navbar-nav {
	    min-width: 0;
	    width: 100%;
	    margin: 0;
	}
	#slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
	    min-width: 0;
	    width: 80%;
	    white-space: normal;
	}
	#slide-nav {
	    border-top: 0
	}
	#slide-nav.navbar-inverse #slidemenu {
	    background: #333
	}
	/* this is behind the navigation but the navigation is not inside it so that the navigation is accessible and scrolls*/
	#navbar-height-col {
	    position: fixed;
	    top: 0;
	    height: 100%;
      bottom:0;
	    width: 80%;
	    left: -80%;
	    background: #f7f7f7;
	}
	#navbar-height-col.inverse {
	    background: #333;
	    z-index: 1;
	    border: 0;
	}
	#slide-nav .navbar-form {
	    width: 100%;
	    margin: 8px 0;
	    text-align: center;
	    overflow: hidden;
	    /*fast clearfixer*/
	}
	#slide-nav .navbar-form .form-control {
	    text-align: center
	}
	#slide-nav .navbar-form .btn {
	    width: 100%
	}
}
@media (min-width:768px) {
	#page-content {
	    left: 0!important
	}
	.navbar.navbar-fixed-top.slide-active {
	    position: fixed
	}
	.navbar-header {
	    left: 0!important
	}
}

.navbar-mobile{
  background-color: #00AEF6;
}
