.navigation{
    margin-bottom: 70px;
}

.info-container{
    box-shadow: 0 1px 4px rgba(0,0,0,.26);
    background-color: #fff;
    border-radius: 7px;
    padding-bottom: 40px;
    min-height: 700px;
}

.navbar2 {
  max-height: 46px;
  background-color: #00AEF6;
  width:100%;
  border-radius: 0;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.navbar2 ul li{
  position: relative;
  cursor: pointer;
}

.navbar2 ul li a{
  color: #fff;
}




.personal_info{
background-color: #F4F4F4;
padding-bottom: 35px;
border-radius:5px;
  box-shadow: 0 1px 4px rgba(0,0,0,.26);
  margin-top: 20px;
}

.personal_info > form{
  padding: 10px ;
}


.btn:hover{
  z-index: 0 !important;
  background-color: #fff;
}

.greybg input,.greybg textarea, .greybg .btn, .greybg .dropdown-menu,.greybg button,.greybg select{
  background-color:#F4F4F4;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
}

.title{
  background-color: #ff8c8c;
  height: 35px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-top: 7px;
  padding-left:7px;
  margin-bottom: 15px;
  span{
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    color: #fff;
  }
}


.expansion{
  display:none;
}

textarea {
  min-width: 100%;
  max-width: 100%;
  resize:none;
  height:34px;
  border-radius: 4px;
}

.dep-add-elements span i,.emj-del-elements span i,.emj-add-elements span i,.dep-del-elements span i,{
  margin: 25px;
  cursor: pointer;
  font-size: 24px;
  border:1px solid #E7E8E5;
}

.save-button{
  margin: 10px 20px;
  background-color: #062A32;
  color: #fff;
  height: 27px;
  border-radius: 7px;
  border:none;
  padding:5px 20px;
}

.submit-button{
  position: absolute;
  top:-65px;
  right:-20px;

  *{
    color: #fff;
    font-size: 12px;
    display: inline-block;
  }
}

#getImage{
  cursor: pointer;
}
#my_file {
    display: none;
}

.name-desc{
  float: left;
  width: 65%;
}

.profile-pic{
  float: left;
  width:35%;
  position: relative;
  img{
      position: relative;
    float: right;
    border-radius: 10px;
  }
  span{
    position: absolute;
    background-color: #000000;
    opacity: 0.7;
    right: 0;
    bottom: 1px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: bold;
    color:#fff;
    width:100px;
    text-align: center;
  }
}

.class3{
  display: inline;
}

.class4{
  display: none;
}

.footer{
  margin:10px 0;
}

@media only screen and(min-width : 768px){
  .active{
    position: relative;
  }


  .active:after {
     top: 90%;
     left: 50%;
     border: solid transparent;
     content: " ";
     height: 0;
     width: 0;
     position: absolute;
     pointer-events: none;
     border-color: rgba(136, 183, 213, 0);
     border-top-color: #00AEF6;
     border-width: 12px;
     margin-left: -12px;
   }
}

@media only screen and (max-width: 767px) {
    div.views{
//      margin-left: 0;
      width:100%;
    }
    .info-container{
      border-radius: 0;
    }
}
