.pl-tab,.cl-tab{
    float: left;
    background-color: #E8E8E8;
    margin: 20px 0;
    padding:10px 15px;;
}

.pl-tab{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: 1px solid #fff;
}

.cl-tab{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.leave-type{
  text-align: center;
  padding: 0 10px;
  color: #9A9A9A;
}

.leave-count{
  text-align: center;
  border:1px solid #fff;
  padding: 10px 10px;
  border-radius: 5px;
}

.application{
  margin: 20px -15px;
  display: none;
  background-color: #F3F3F3;

}


#refine-res{
  padding-top: 0;
}

.refine-results{
  position: relative;
  margin-bottom: 25px;
}

.refineVal{
  display:none;
}

.status{
    margin-top: 7px;
}

.refine-search button ,.actions > button{
  background-color: #fff;
  border:none;
}

.refine-search{
  position: absolute;
  right:10px;
  cursor: pointer;
}



.class3{
  display: inline;
  padding:0 10px;
  i{
    font-weight: bold;
  }
}

.class4{
  display: none;
  padding:0 10px;
  i{
    font-weight: bold;
  }
}


.apply-button{
  button{
          margin-top:32px;
          border:none;
        //  background-color: #FFF;
          span
          {
            i{
              padding:0 15px;
              font-size: 20px;
            }
          }
        }
}
