.userName{
    padding-top: 20px;
    color: #fff;
    i{
      padding:0 10px;
    }
}

.dropdown-menu li a{
    color:#000 !important;
}

.navbar-brand{
  padding:10px 15px;
}

.navbar2{
  min-height: 45px;
}

.navbar-header{
  button{
    color:#000;
  }
}
.bs-caret > span{
  display: none;
}

.goback{
  height: 50px;
  background-color: #E8E8E8;
  span{
    i{
      margin:20px 10px;
      color:#fff;
      font-size: 16px;
    }
  }
}
.mob-main{
  margin-left:20px;
  font-weight: bold;
}
.sidebar .arrow{
  margin-top: 18px;
  font-weight: bold;
}

.mobile-menus{
  display: none;
  background-color: #000;
  left: -81%;
  width: 80%;
  position: absolute;
  z-index: 999;
}

#side-menu{
  -webkit-box-shadow: 4px -3px 3px -1px rgba(0, 0, 0, 0.26);
-moz-box-shadow: 4px -3px 3px -1px rgba(0, 0, 0, 0.26);
box-shadow: 4px -3px 3px -1px rgba(0, 0, 0, 0.26);

    background-color: #fff;
  
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li a.active {
    background-color: #eee;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}
