
.tab-container {
    margin-top:75px;
    max-width: 100px;
}

#tab-container ul{
  position: relative;
}

#tab-container ul li {
    opacity: 0.4;
    margin-top: 8px;
    height:100px;
    width: 100%;;
}

.remove-padding{
  padding:0 !important;
}

.active-vert-tab{
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    opacity: 1 !important;
    border-right: 2px solid #fff;
    background-color: #fff;
    position: relative;
    z-index: 100;
    box-shadow: -2px 0px 3px -1px rgba(0, 0, 0, 0.26);
}

.navbar1{
  border-radius: 0;
}

#tab-container ul li a img{
  margin:20px 27px 5px 27px;
  }

#tab-container ul li a p{
  text-align: center;
  color: #000;
  font-weight: bold;
  }

  // @media only screen and (max-width: 768px) {
  //     .tab-container{
  //       display: none;
  //     }
  //
  //     .navbar1{
  //       display: none;
  //     }
  // }
